.top-navbar {
  height: 91px;
  background-color: #020203;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.top-navbar a {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffff;
  text-decoration: none;
}
